The purpose of this analysis is to see if age (specifically, comparing children (<18) and adults (≥18) plays a factor in a user's willingness to purchase a gaming newsletter subscription. This question was chosen as it is likely that the income for adults or the lack of other financial costs for children may both affect the decision of adults and children to purchase a gaming newsletter subscription.

In [3]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

Once the libraries are loaded, code is run to select only variables possibly related to or affected by the age of a user, as well as whether or not they are subscribed to the gaming newsletter.

In [4]:
players <- read_csv("Data/players.csv") |>
select(experience, subscribe, played_hours, Age)
players

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe played_hours Age
1   Pro         TRUE     30.3          9
2   Veteran     TRUE      3.8         17
3   Veteran    FALSE      0.0         17
⋮   ⋮          ⋮         ⋮            ⋮
194 Amateur    FALSE     0.0          17
195 Amateur    FALSE     2.3          17
196 Pro         TRUE     0.2          NA

Next, a bar plot is created to compare adults to children.